@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="box">
        <div class="b-header">
            <h1>Danh sách khóa học</h1>
            <hr>
        </div>

        <div class="b-body">
            <div class="row">
                <div class="offset-8 col-md-4">
                    <select class="select2" id="student-selector"></select>
                    <button id="search-btn">Tìm</button>
                </div>
            </div>
            <div>
                <table id="course-table" class="datatable table cell-border">
                    <thead>
                        <tr>
                            <th>
                                Kỳ
                            </th>
                            <th>
                                Môn
                            </th>
                            <th>
                                Thông tin
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        LoadStudentSelect();

    });
    $("#search-btn").on("click", function () {
        if ($.fn.dataTable.isDataTable('#course-table')) {
            $('#course-table').DataTable().ajax.reload();
        }
        else {
            LoadCourseTable();
        }
    });
    function LoadStudentSelect() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadStudentSelectorCross")',
            success: function (result) {
                for (var i = 0; i < result.data.length; i++) {
                    $('#student-selector').append("<option value='" + result.data[i].RollNumber + "'>" + result.data[i].RollNumber + " - " + result.data[i].FullName + "</option>");
                }
                $("#student-selector").select2({
                    placeholder: "Tìm kiếm sinh viên",
                    minimumInputLength: 3,
                });
            }
        });
    }
    function LoadCourseTable() {
        $('#course-table').DataTable({
            //searchDelay: 1000,
            //"bServerSide": true,
            "bFilter": true,
            "bRetrieve": true,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            "bDeferRender": true,
            "bProcessing": true,
            "bSort": false,
            "sAjaxSource": '@Url.Action("LoadCoursesByStudent")',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "rollNumber", "value": $('#student-selector').val() })
            },
            "oLanguage": {
                "sSearchPlaceholder": "",
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }

            },
            "aoColumnDefs": [
                {
                    "aTargets": [1],
                    "sClass": "min-width-150",
                    "bSortable": false,
                    "sWidth": "150px"
                },
                {
                    "aTargets": [0, 1, 2],
                    "bSortable": false,
                },
                {
                    "aTargets": [0, 1, 2],
                    "sClass": "text-center",
                },
                {
                    "aTargets": 2,
                    "data": "Detail",
                    "render": function (data, type, row, meta) {
                        var data = row[2];
                        return '<a href="StudentMarkDetail?courseId=' + data + '&rollNumber=' + $('#student-selector').val() + '">Details</a>';
                    }
                }
            ],
            "bAutoWidth": false,
            dom: 'Bfrtip',
            lengthMenu: [[10, 25, 50], ['10', '25', '50', 'Tất cả']],
            buttons: [
                {
                    extend: 'pageLength',
                    text: 'Hiển thị 10 dòng',
                },
                {
                    extend: 'excel',
                    text: 'Xuất Excel',
                },
                {
                    extend: 'pdf',
                    text: 'Xuất PDF',
                },
            ]
        });
    }
</script>